@import url('https://fonts.googleapis.com/css?family=Lato');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

.container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

nav {
    padding: 2em;
    text-align: center;
}

section {
    padding: 2em;
    text-align: center;
}
section img {
    height: 80px;
    margin: 0 auto 2em auto;
}
section h1 {
    margin-bottom: 1em;
    text-align: center;
    font-size: 2em;
}
section h2 {
    margin-bottom: 1em;
}

a {
    text-decoration: none;
    color: rgb(35, 116, 209);
}

.logos {
    max-width: 500px;
    padding: 2em;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1em;
    justify-items: center;
}
.logos img {
    height: 80px;
}